@import "tailwindcss";

html, body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
  }
@theme {
    --color-primary : #1e40af;
    --color-secondary : #1e293b;
}

section {
    @apply px-[20px] md:px-14
}