@import "tailwindcss";

html, body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
  }
@theme {
    --color-primary : #1e40af;
    --color-secondary : #1e293b;
    --color-headingText : #1E293B;
    --color-body-color : #4B5563

}

section {
    @apply px-[25px] sm:px-14 py-12 md:py-18
}
.headingStyle {
    @apply text-4xl  sm:text-5xl font-bold 
}